* {
}

main {
    background-color:rgb(218 226 227);
    height: 88vh;
}

.dark main {
    background-color: rgb(24, 23, 23);
}

.dark .sidebar {
    color: white;
}

.dark header, .dark footer {
    background-color: #100c1ed9;
}

.dark .card {
    background-color: #212529;
}

.dark a {
    color: white;
}

a {
    color: black;
}

#logo {
    height: 60px;
    width:100px;
}

header {
    background-color: #505879;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sign-up, .welcomeBanner {
    color: white;
}

.welcomeBanner {
	font-size: 1.30rem;
	margin: 0;
}

.table {
    padding-top: 50px;
}

footer {
    background-color: #505879;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar{
    padding-top: 50px;
}
.card-subtitle{
    font-size: .8rem
}
.card-body{
    padding:.9rem

}

.theme {
    font-size:1.5rem
}

.theme::before {
	content: "\f186";
}

.dark .theme::before {
	content: "\f185";
    color:white
}

@media (max-width:1200px) {
    .h2, h2 {
        font-size: 1rem;
        font-weight:700
    }
    .card-subtitle {
        font-size:.7rem;
        margin-bottom:2px
    }

    .sidebar .card:last-child{
        display:none
    }
}

@media (max-width:768px) {
    main {
        height:initial
    }

}